body {
    background: whitesmoke;
    font-family: 'Oswald', Arial, sans-serif;
    margin: 0;
    text-align: center;
}

/*Cabecalho*/

header#cabecalho {
    position: fixed;
    top: 0;
    padding: 10px 0;
    background: rgb(30, 30, 30);
    text-align: right;
    width: 100%;
}

header#cabecalho img#logo {
    height: 40px;
    float: left;
    margin-left: 10px;
}

header#cabecalho div#linksCabecalho {margin-right: 10px;}

header#cabecalho div#linksCabecalho a {text-decoration: none; display: inline-block;}

header#cabecalho div#linksCabecalho div {
    color: #f8f8f8;
    display: inline-block;
    margin: 6px 3px;
    border: 2px solid #f8f8f8;
    border-radius: 50px;
    padding: 3px 8px;
    font-size: 0.8em;
}

header#cabecalho div#linksCabecalho div:hover {
    transition: 200ms;
    color: rgb(30, 30, 30);
    background: #f8f8f8;
}

/*Conteudo*/

div#conteudo {
    max-width: 2000px;
    text-align: justify;
    margin-top: 60px;
    background: whitesmoke;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

/*Artigo Geral*/

div#conteudo div#texto {
    display: inline-block;
    flex-basis: calc(60% + 100px);
    border-right: 1px solid #999999;
}

div#conteudo section.parteTexto {
    padding: 50px;
}

div#conteudo section.parteTexto h1 {
    font-size: 2em;
    margin-top: 0;
    text-align: left;
}

div#conteudo section.parteTexto img.exemplo {
    width: 200px;
    float: right;
    margin-top: -100px;
}

div#conteudo section.parteTexto figure {margin: 0; display: none;}

div#conteudo section.parteTexto figure img {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

div#conteudo section.parteTexto figure legend {
    text-align: center;
}

/*Introdução*/

div#conteudo section#introducao {
    background: white;
}

/*Motor a combustão*/

div#conteudo section#combustao {
    background: rgb(35, 137, 255);
    color: #f8f8f8;
}

/*Sessão onde fica escritor e a data da postagem*/

div#conteudo section#post {
    background: rgb(30, 30, 30);
    color: #f8f8f8;
    padding-top: 10px;
    padding-bottom: 10px;
}

div#conteudo section#post div#autor {display: inline-block;}

div#conteudo section#post div#autor img {
    height: 3em;
    border-radius: 100%;
}

div#conteudo section#post div#autor span {
    vertical-align: 1em;
}

div#conteudo section#post div#data {
    float: right;
    margin-top: 1em;
}

/*Multimídia*/

aside#multimidia {
    float: right;
    width: calc(40% - 101px);
    vertical-align: top;
}

aside#multimidia figure {margin: 0;}

aside#multimidia figure img, aside#multimidia figure iframe {
    width: 100%;
}

aside#multimidia figure iframe {height: calc(25vw - 100px);}

aside#multimidia figure legend {
    color: #f8f8f8;
    background: black;
    margin-top: -5px;
    padding: 10px 5px;
    user-select: none;
}

/*Rodapé*/

footer#rodape {
    background: black;
    color: #f8f8f8;
    padding: 1.5em;
}

footer#rodape a {color: white;}
footer#rodape a:hover {font-weight: bold;}

footer#rodape img {width: 50px;}