body {
    background: whitesmoke;
    font-family: 'Oswald', Arial, sans-serif;
    margin: 0;
    text-align: center;
}

/*Cabecalho*/

header#cabecalho {
    position: fixed;
    top: 0;
    padding: 10px 0;
    background: rgb(30, 30, 30);
    text-align: right;
    width: 100%;
}

header#cabecalho img#logo {
    height: 40px;
    float: left;
    margin-left: 10px;
}

header#cabecalho div#linksCabecalho {margin-right: 10px;}

header#cabecalho div#linksCabecalho a {text-decoration: none; display: inline-block;}

header#cabecalho div#linksCabecalho div {
    color: #f8f8f8;
    display: inline-block;
    margin: 5px;
    border: 2px solid #f8f8f8;
    border-radius: 50px;
    padding: 3px 8px;
}

header#cabecalho div#linksCabecalho div:hover {
    transition: 200ms;
    color: rgb(30, 30, 30);
    background: #f8f8f8;
}

/*Conteudo*/

div#conteudo {
    max-width: 2000px;
    display: inline-block;
    text-align: justify;
    margin-top: 60px;
    background: white;
    padding: 10px 50px;
}

/*Introdução*/

div#conteudo section#introducao {
    background: white;
}